:host {
    z-index: 2;
}

footer {
    background-color: #202027;
    grid-area: footer;
    z-index: 2;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left-contact right-contact";
}

#left-contact {
    grid-area: left-contact;
}

#right-contact {
    grid-area: right-contact;
}

.contact {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact p {
    font-weight: bold;
}

.social-media {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media (width <=480px) {
    footer {
        grid-template-columns: 10vw 40vw 40vw 10vw;
        grid-template-areas: ". left-contact right-contact .";
    }

    .contact {
        justify-content: space-around;
    }

    .social-media {
        flex-direction: column;
    }
}