:host {
  background-color: #2F303A;
  display: grid;
  grid-area: join;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 83vh 7vh;
  grid-template-areas: "header" "join" "footer";
}

main {
  display: grid;

  grid-template-columns: 23vw 27vw 35vw 15vw;
  grid-template-areas: ". pageTitle registerForm .";

  align-items: center;
}

main h2 {
  grid-area: pageTitle;

  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 3rem;
}

main h2 span {
  color: #BC3A80
}

main form {
  grid-area: registerForm;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #211F27;

  z-index: 2;
  border-radius: 1rem;

  gap: 1rem;
}

form input,
label {
  width: 75%;
}

form input {
  height: 2rem;
  background-color: #211F27;
  border: .1rem solid #2E3852;
  border-radius: .5rem;
  color: white
}

form input[type="submit"] {
  height: 2rem;
  background-color: #1762A7;
  border: .1rem solid #1762A7;
  border-radius: .5rem;
  color: white
}

.backgroundCircle {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  height: 50rem;
  width: 50rem;
}

#redCircle {
  top: 17rem;
  left: -14rem;
  background-color: rgba(188, 58, 128, 0.1019607843);
}

#blueCircle {
  top: -10rem;
  left: 25rem;
  height: 35rem;
  width: 35rem;
  background-color: #3457b21a;
}

@media (width <=480px) {
  main {
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 5vh 20vh 58vh;
    grid-template-areas: ". . ." ". pageTitle ." ". registerForm .";
  }

  main h2 {
    flex-direction: column;
    align-items: normal;
    font-size: 4.5rem;
  }

  main form {
    height: 80%;
  }

  #redCircle {
    height: 10rem;
    width: 10rem;
    top: 50rem;
    left: -2rem;
  }

  #blueCircle {
    height: 10rem;
    width: 10rem;
    top: -3rem;
    left: 5rem; 
  }
}