:host {
  background-color: #2F303A;
  display: grid;
  grid-area: discover;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 83vh 7vh;
  grid-template-areas: "header" "discover" "footer";
}

main {
  display: grid;
  grid-template-columns: 65vw 35vw;
  grid-template-rows: 10vh 63vh 10vh;
  grid-template-areas: ". ." "mainContainer coversContainer" ". .";
}

#mainContainer {
  grid-area: mainContainer;
  display: grid;
  grid-template-columns: 23vw 40vw 2vw;
  grid-template-rows: 15vh 11vh 11vh 11vh 15vh;
  grid-template-areas: ". . ." ". mainTitle ." ". discoverIconsContainer ." ". mainText ." ". . .";
}

.mainContent {
  height: 100%;
}

#mainContainer h2 {
  grid-area: mainTitle;
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
}

#discoverIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  grid-area: discoverIconsContainer;
}

.discoverIcon {
  background-color: #202027;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.discoverIcon img {
  height: 2.5rem;
  width: 5rem;
  margin-top: .5rem;
}

#mainContainer p {
  grid-area: mainText;
}


#coversContainer {
  grid-area: coversContainer;
  display: grid;
  align-items: end;
  grid-template-rows: 45vh 18vh;
  grid-template-areas: "coverImg" ".";
}

#coversContainer img {
  grid-area: coverImg;
  height: 20rem;
  width: 20rem;
}

@media (width <=480px) {
  main {
    grid-template-columns: 100vw;
    grid-template-rows: 5vh 43vh 35vh;
    grid-template-areas: "." "mainContainer" "coversContainer";
  }

  #mainContainer {
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 15vh 20vh 8vh;
    grid-template-areas: ". mainTitle ." ". discoverIconsContainer ." ". mainText .";
  }

  #coversContainer {
    align-items: start;
    justify-content: center;
    grid-template-rows: 35vh;
    grid-template-areas: "coverImg";
  }
}