<app-header></app-header>
<main>
  <div id="mainContainer" class="mainContent">
    <h2>Discover new music</h2>
    <div id="discoverIconsContainer">
      <div class="discoverIcon">
        <img src="../../assets/microphone.svg">
        <p>Charts</p>
      </div>
      <div class="discoverIcon">
        <img src="../../assets/albums.svg">
        <p>Albums</p>
      </div>
      <div class="discoverIcon">
        <img src="../../assets/more.svg">
        <p>More</p>
      </div>
    </div>
    <p>By joining you can benefit by listening to the latest albums released.</p>
  </div>
  <div id="coversContainer" class="mainContent">
    <img src="../../assets/covers.jpg">
  </div>
</main>
<app-footer></app-footer>
